@import '~antd/dist/antd.css';

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.site-layout-background {
  background: #fff;
}
.ant-badge-status-dot{
  margin-right: 5px;
}



.color-red,.color-red:hover,.color-red:active{
  color: #f5222d;
}
.mr5{
  margin-right: 5px;
}
.ml10{
  margin-left: 10px;
}
.mb15{
  margin-bottom: 15px;
}
.fr{
  float: right;
}


.interface .ant-card{
  margin-bottom: 20px;
}
