@import '~antd/dist/antd.css';

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.site-layout-background {
  background: #fff;
}
.ant-badge-status-dot{
  margin-right: 5px;
}



.color-red,.color-red:hover,.color-red:active{
  color: #f5222d;
}
.mr5{
  margin-right: 5px;
}
.ml10{
  margin-left: 10px;
}
.mb15{
  margin-bottom: 15px;
}
.fr{
  float: right;
}


.interface .ant-card{
  margin-bottom: 20px;
}

.button-group{
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100% - 256px);
  padding: 15px 0;
  background-color: #fff;
  margin-right: 40px;
  border: 1px solid #f0f0f0;
  z-index: 4;
}
.button-group .ant-btn{
  margin-right: 10px;
}